*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;    
}
body{
    font-family: Roboto Mono;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 100px;
   
}
.button{
    width: 500px;
    height: 50px;
    padding: 10px 20px;
    margin-bottom: 15px;
    border-radius: 15px;
    background: #000;
    color: antiquewhite;
    cursor: pointer;
    text-align: left;

}

.tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    /* border: solid 3px ; */
    /* border-radius: 15px; */
    /* margin: 15px ; */
}
.awnser {
    border: solid 2px black ;
    padding: 20px 30px;
    border-radius: 15px;
    display: none;
}